---
import PostCard from '../../components/PostCard.astro'
import MainLayout from '../../layout/MainLayout.astro'

const allPosts = await Astro.glob('./*.md')
---

<MainLayout title="My blog" description="my blog page">
  <!-- <ul>
    <li><a href="blog/post-1/">Post 1</a></li>
    <li><a href="blog/post-2/">Post 2</a></li>
    <li><a href="blog/post-3/">Post 3</a></li>
    <li><a href="blog/post-4/">Post 4</a></li>
    <li><a href="blog/post-5/">Post 5</a></li>
    <li><a href="blog/post-6/">Post 6</a></li>
  </ul> -->
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        allPosts.map((post) => (
          <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h2" />
        ))
      }
    </div>
  </section>
</MainLayout>
