---
import MainLayout from '../layout/MainLayout.astro'
---


<MainLayout title="Page Not Found">
  <div class="container" style={{display: 'grid', placeItems: 'center', textAlign:'center', gap:'var(--small-sm)'}}></div>
</MainLayout>