---
import Link from '../components/Link.astro'
import PostCard from '../components/PostCard.astro'
import { formatBlogPosts } from '../js/utils'
import MainLayout from '../layout/MainLayout.astro'

const allPosts = await Astro.glob('./blog/*.md')

const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: false,
  filterOutFuturePosts: false,
  sortByDate: false,
  limit: 2
})
---

<MainLayout title="My blog" description="my blog page">
  <section class="container about" aria-label="About Me">
    <!-- <img src="/images/headshot.jpg" alt="My headshot" width="200" height="330" /> -->
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>Some description here</p>
      <Link href="/about/" style="secondary" borderVisible={true} text="👋 About Me" />
    </div>
  </section>
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        formattedPosts.map((post: any) => (
          <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h2" />
        ))
      }
    </div>
  </section>
</MainLayout>
