---
const copyright = new Date().getFullYear().toString()
---

<footer>
  <small>Copyright &copy; <span id="copyright">{copyright}</span> | All right reserved</small>
</footer>

<script>
  // document.querySelector('#copyright')?.textContent = new Date().getFullYear().toString()
</script>
